@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
}

html, body {
    min-height: 100vh;
    background: linear-gradient(90deg, #0F61FF 0%, #9F329F 100%) !important;
    color: #fff !important;
}

/* Styles for GaugeMeter */
.GaugeMeter {
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.GaugeMeter SPAN,
.GaugeMeter B {
    margin: 0 23%;
    width: 54%;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-family: 'Open Sans', Arial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.GaugeMeter[data-style='Semi'] B {
    margin: 0 10%;
    width: 80%;
}

.GaugeMeter S,
.GaugeMeter U {
    text-decoration: none;
    font-size: 0.5em;
    opacity: 0.5;
}

.GaugeMeter B {
    color: white;
    font-weight: 300;
    font-size: 0.5em;
    opacity: 0.8;
}